#KNN

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from matplotlib import pyplot as plt
import seaborn as sns

###profesion resampled data

In [ ]:
X_train = pd.read_csv("./X_train_resampled_profesion.csv", index_col=None, encoding='utf-8')
y_train = pd.read_csv("./y_train_resampled_profesion.csv", index_col=None, encoding='utf-8')

X_test = pd.read_csv("./X_test.csv", index_col=None, encoding='utf-8')
y_test = pd.read_csv("./y_test.csv", index_col=None, encoding='utf-8')

X_train.head(5)
X_test.head(5)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,86,87,88,89,90,91,92,93,94,95
0,0,-0.853476,-0.043087,0.869288,0.274785,1.653650,-1.129896,0.310422,-0.084699,0.821329,...,0.532214,0.718202,-0.969038,1.051367,0.121037,-0.346031,-0.232304,0.053978,1.472249,-1.448226
1,1,-1.409500,-1.026403,1.618064,-0.123490,2.041371,-0.650907,0.811734,0.358986,-0.031475,...,0.002095,0.425020,-1.085913,0.002108,0.198675,-0.530982,0.047834,1.013020,0.268437,-0.569032
2,2,-1.081848,-0.223890,1.415024,0.142364,1.131326,-0.559043,0.912347,-0.124607,0.268228,...,0.835753,0.274083,-0.946933,0.792510,-0.063767,-0.125462,-0.260351,1.117045,0.651286,-1.342718
3,3,-0.657911,-0.436682,0.146688,1.031530,1.593143,-1.067615,-0.021062,0.368209,0.506547,...,0.139021,-0.099565,-0.622107,1.496902,-0.078946,-1.401318,0.023592,0.742421,0.975285,-1.862017
4,4,-0.481179,-0.245685,1.357088,-1.020938,-0.037522,-0.673845,0.328340,-0.226909,0.769353,...,-0.547774,0.814384,-1.673890,1.455971,-0.134639,-2.252312,-1.331780,0.086774,1.409375,-1.380807

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,y_train['profesion'])

predictions = knn.predict(X_test)

# Calcular la exactitud
exactitud = round(accuracy_score(y_test['profesion'], predictions),2)
print("Exactitud:", exactitud)

# Calcular la precisión
precision = round(precision_score(y_test['profesion'], predictions,average='weighted'),2)
print("Precisión:", precision)

# Calcular la puntuación F1
f1 = round(f1_score(y_test['profesion'], predictions,average='weighted'),2)
print("Puntuación F1:", f1)

# Calcular la recall
recall = round(recall_score(y_test['profesion'], predictions,average='weighted'),2)
print("Recall:", recall)

Exactitud: 0.56
Precisión: 0.5
Puntuación F1: 0.52
Recall: 0.56

###profesion data normal

In [ ]:
X_train = pd.read_csv("./X_train.csv", index_col=None, encoding='utf-8')
y_train = pd.read_csv("./y_train.csv", index_col=None, encoding='utf-8')

X_test = pd.read_csv("./X_test.csv", index_col=None, encoding='utf-8')
y_test = pd.read_csv("./y_test.csv", index_col=None, encoding='utf-8')

X_train.head(5)
X_test.head(5)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,86,87,88,89,90,91,92,93,94,95
0,0,-0.853476,-0.043087,0.869288,0.274785,1.653650,-1.129896,0.310422,-0.084699,0.821329,...,0.532214,0.718202,-0.969038,1.051367,0.121037,-0.346031,-0.232304,0.053978,1.472249,-1.448226
1,1,-1.409500,-1.026403,1.618064,-0.123490,2.041371,-0.650907,0.811734,0.358986,-0.031475,...,0.002095,0.425020,-1.085913,0.002108,0.198675,-0.530982,0.047834,1.013020,0.268437,-0.569032
2,2,-1.081848,-0.223890,1.415024,0.142364,1.131326,-0.559043,0.912347,-0.124607,0.268228,...,0.835753,0.274083,-0.946933,0.792510,-0.063767,-0.125462,-0.260351,1.117045,0.651286,-1.342718
3,3,-0.657911,-0.436682,0.146688,1.031530,1.593143,-1.067615,-0.021062,0.368209,0.506547,...,0.139021,-0.099565,-0.622107,1.496902,-0.078946,-1.401318,0.023592,0.742421,0.975285,-1.862017
4,4,-0.481179,-0.245685,1.357088,-1.020938,-0.037522,-0.673845,0.328340,-0.226909,0.769353,...,-0.547774,0.814384,-1.673890,1.455971,-0.134639,-2.252312,-1.331780,0.086774,1.409375,-1.380807

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,y_train['profesion'])

predictions = knn.predict(X_test)

# Calcular la exactitud
exactitud = round(accuracy_score(y_test['profesion'], predictions),2)
print("Exactitud:", exactitud)

# Calcular la precisión
precision = round(precision_score(y_test['profesion'], predictions,average='weighted'),2)
print("Precisión:", precision)

# Calcular la puntuación F1
f1 = round(f1_score(y_test['profesion'], predictions,average='weighted'),2)
print("Puntuación F1:", f1)

# Calcular la recall
recall = round(recall_score(y_test['profesion'], predictions,average='weighted'),2)
print("Recall:", recall)

Exactitud: 0.56
Precisión: 0.5
Puntuación F1: 0.52
Recall: 0.56

###profesion undersampled data

In [ ]:
X_train = pd.read_csv("./X_undersampled_profesion.csv", index_col=None, encoding='utf-8')
y_train = pd.read_csv("./y_undersampled_profesion.csv", index_col=None, encoding='utf-8')

X_test = pd.read_csv("./X_test.csv", index_col=None, encoding='utf-8')
y_test = pd.read_csv("./y_test.csv", index_col=None, encoding='utf-8')

X_train.head(5)
X_test.head(5)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,86,87,88,89,90,91,92,93,94,95
0,0,-0.853476,-0.043087,0.869288,0.274785,1.653650,-1.129896,0.310422,-0.084699,0.821329,...,0.532214,0.718202,-0.969038,1.051367,0.121037,-0.346031,-0.232304,0.053978,1.472249,-1.448226
1,1,-1.409500,-1.026403,1.618064,-0.123490,2.041371,-0.650907,0.811734,0.358986,-0.031475,...,0.002095,0.425020,-1.085913,0.002108,0.198675,-0.530982,0.047834,1.013020,0.268437,-0.569032
2,2,-1.081848,-0.223890,1.415024,0.142364,1.131326,-0.559043,0.912347,-0.124607,0.268228,...,0.835753,0.274083,-0.946933,0.792510,-0.063767,-0.125462,-0.260351,1.117045,0.651286,-1.342718
3,3,-0.657911,-0.436682,0.146688,1.031530,1.593143,-1.067615,-0.021062,0.368209,0.506547,...,0.139021,-0.099565,-0.622107,1.496902,-0.078946,-1.401318,0.023592,0.742421,0.975285,-1.862017
4,4,-0.481179,-0.245685,1.357088,-1.020938,-0.037522,-0.673845,0.328340,-0.226909,0.769353,...,-0.547774,0.814384,-1.673890,1.455971,-0.134639,-2.252312,-1.331780,0.086774,1.409375,-1.380807

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,y_train['profesion'])

predictions = knn.predict(X_test)

# Calcular la exactitud
exactitud = round(accuracy_score(y_test['profesion'], predictions),2)
print("Exactitud:", exactitud)

# Calcular la precisión
precision = round(precision_score(y_test['profesion'], predictions,average='weighted'),2)
print("Precisión:", precision)

# Calcular la puntuación F1
f1 = round(f1_score(y_test['profesion'], predictions,average='weighted'),2)
print("Puntuación F1:", f1)

# Calcular la recall
recall = round(recall_score(y_test['profesion'], predictions,average='weighted'),2)
print("Recall:", recall)

Exactitud: 0.33
Precisión: 0.5
Puntuación F1: 0.33
Recall: 0.33